# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore doc files
/doc

# Ignore Mac OS finder created file
/.DS_Store

# Ignore emacs created files
/*~

# Ignore other misc files
/.project
/*.swp
